body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 2em;
}

h2 {
    border-bottom: 2px solid #343a40;
    padding-bottom: 0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: white;
}

audio {
    width: 250px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
